section.hero {
  position: absolute;
  top: 3vw;
  left: calc(100vw / 3 + 1.5vw);
  width: calc(100vw * 2 / 3 - 4.25vw);
  height: calc(100vh - 6vw);

  .heroCard {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: var(--color-background);
    box-shadow: var(--shadow-card);

    .heroContent {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 10% 15%;

      .contentWrapper {
        display: flex;
        flex-direction: column;
        margin: auto 0;

        p.greeting {
          color: var(--color-subtext);
          font-family: var(--font-mono);
          font-size: clamp(var(--fs-base), 1vw, var(--fs-lg));
        }

        h1 {
          padding: 1rem 0;
          font-family: var(--font-mono);
          font-size: 3vw;

          span.role {
            color: var(--color-primary);
          }
        }

        p.description {
          color: var(--color-subtext);
          font-family: var(--font-mono);
          font-size: clamp(var(--fs-base), 1vw, var(--fs-lg));
        }

        span.tag {
          color: var(--color-accent);
        }
      }
    }
  }
}
