/** 
 * RESET & NORMALIZATION
 * Sets up a modern, simple, minimal reset.
 */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Inherit fonts for form controls
input,
button,
textarea,
select {
  font: inherit;
}
